

#container {
    margin: 10px auto;
    border: 1px solid red;
    width: fit-content;
    border-radius: 15px;
  }
  
  #field {
    /* fixed */
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    background-image: url("./../../../public/Ball/field.jpg");
    background-position: center;
    /* variable */
    width: 1000px;
    height: 600px;
  }
  #control {
    /* border: 1px solid blue; */
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .active{
    color: blue;
  }
  
  
  
  
  #ball {
    /* fixed */
    border: 1px solid gold;
    /* background-image: url("/Images/IMG_2326.jpg"); */
    background-color: red;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
  
    /* variable */
    width: 50px;
    height: 50px;
    /* left: calc((600px - 50px  - 2px) / 2);
      let = width - diameter - border 
      top: calc((400px - 50px - 2px) / 2); 
      top = height - diameter - border */
  }
  