
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f26464;
    margin: 0;
}

.calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

.display {
    background-color: #cfd9b2;
    height: 60px;
    width: 300px;
    border-radius: 5px;
    text-align: right;
    padding: 20px;
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
}

.all-btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #777;
}

.equals {
    background-color: #ff6b47;
    color: white;
}

.equals:hover {
    background-color: #ff4a23;
}

.operator {
    background-color: #444;
}

.operator:hover {
    background-color: #666;
}

.active-operator {
    background-color: #ff9f43; /* เปลี่ยนเป็นสีที่คุณต้องการ */
    color: white; /* สีของตัวอักษร */
}

.history{
    margin-left: 20px;
}
