.card-body {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    height: 100%; 
}

.products-container {
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    margin: auto;
    overflow-y: auto;
}

.products-items-container {
    display: grid;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 0.5rem;
    text-align: center;
    margin: auto;
    height: 500px;
    overflow-y: auto;
}

.select {
    margin-top: 10px;
}
